body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.container{
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}

.btn-primary{
    display: inline-block;
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    background-color: #FF5959;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border: 0px solid;
}


.text-center{
    text-align: center;
}

.hero-banner-area{
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 670px;
    background-image: url(../images/banner-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-banner-content{
    max-width: 826px;
    margin: 0 auto;
}
.hero-banner-content h1{
    font-size: 65px;
    line-height: 79px;
    color: #fff;
    margin: 0 0 15px;
}
.hero-banner-content p{
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 30px;
}

.donate-today-area{
    margin: 130px 0;
}

.donate-title{
    max-width: 690px;
    margin: 0 auto;
}
.donate-title h2{
    font-size: 45px;
    line-height: 54px;
    margin: 0 0 15px;
}
.donate-title p{
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}

.donation-price-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 770px;
    margin: 50px auto;
}

.donate-price{
    width: 135px;
    height: 120px;
    background-color: #FAFAFA;
    border-radius: 5px;
    font-size: 26px;
    color: #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border: 2px solid transparent;
}

.donate-price.active{
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}

.donate-form{
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}
.donate-form input[type="text"]{
    border-width:0px 0px 1px 0px;
    border-color:#DADADA ;
    padding: 10px;
    display: block;
    color: #B3B3B3;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    box-sizing: border-box;
}
.donate-form input[type="text"]:active, 
.donate-form input[type="text"]:focus{
    outline: none;
    border-color: #FF5959;
    color: #000;
}
.donate-form input[type="submit"]{
    cursor: pointer;
}

.our-donate-plan-area {
    margin-bottom: 130px;
}
.donate-plan-featured {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.single-plan-featured {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    max-width: 360px;
    min-height: 352px;
    box-sizing: border-box;
    padding: 63px 22px 54px;
    flex: 0 0 auto;
    width: 33.333%;
}
.single-plan-featured.pink-bg{
    background: rgba(255, 89, 89, 0.1);
}
.single-plan-featured.antiquewhite-bg{
    background: #FFF4D6;
}
.single-plan-featured h3 {
    font-size: 24px;
    line-height: 36px;
    margin: 30px 0 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.single-plan-featured p {
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}

.our-donation-depended-area {
    background-image: url(../images/donation0.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    padding: 70px 0;
    background-size: 48% 100%;
}
.donate-title.our-donation-depended-text{
    max-width: 50%;
    margin: 0 0;
}
.donate-title.our-donation-depended-text .btn-primary{margin-top: 30px;}


.our-subscribtion-area{
    margin: 100px 0;
}
.subscribtion-form {
    display: flex;
    justify-content: center;
    width: 800px;
    align-items: center;
    background: #FFF4D6;
    height: 200px;
    margin: 50px auto 0;
}
.subscribtion-form input[type="email"] {
    border: 1px solid transparent;
    height: 48px;
    background: #D9D9D9;
    width: 275px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    color: #AA9F9F;
}
.subscribtion-form input[type="email"]:focus {
    outline: none;
    border-color: #FF5959;
    color: #000;
}
.subscribtion-form input[type="submit"] {
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid transparent;
    color: #fff;
    height: 48px;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 600;
    margin-left: -4px;
    cursor: pointer;
}

.footer{
    background: #0B0D17;
    padding: 45px 0;
}
.footer h2 {
    font-size: 36px;
    line-height: 44px;
    font-family: 'Lobster', cursive;
    color: #FF5959;
    letter-spacing: 0.5px;
    margin: 0 0 20px;
}
.footer p{
    color: #D9DBE1;
    margin: 0;
}