body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.container{
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}
.btn-primary{
    display: inline-block;
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    background-color: #FF5959;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border: 0px solid;
}

.text-center{
    text-align: center;
}

.hero-banner-area{
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 670px;
    background-image: url(../images/banner-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-banner-content{
    max-width: 826px;
    margin: 0 auto;
}
.hero-banner-content h1{
    font-size: 65px;
    line-height: 79px;
    color: #fff;
    margin: 0 0 15px;
}
.hero-banner-content p{
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 30px;
}

.donate-today-area{
    margin: 130px 0;
}

.donate-price-content{
    max-width: 690px;
    margin: 0 auto;
}
.donate-price-content h2{
    font-size: 45px;
    line-height: 54px;
    margin: 0 0 15px;
}
.donate-price-content p{
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}

.donation-price-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 770px;
    margin: 50px auto;
}

.donate-price{
    width: 135px;
    height: 120px;
    background-color: #FAFAFA;
    border-radius: 5px;
    font-size: 26px;
    color: #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border: 2px solid transparent;
}

.donate-price.active{
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}

.donate-form{
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}
.donate-form input[type="text"]{
    border-width:0px 0px 1px 0px;
    border-color:#DADADA ;
    padding: 10px;
    display: block;
    color: #B3B3B3;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    box-sizing: border-box;
}
.donate-form input[type="text"]:active, 
.donate-form input[type="text"]:focus{
    outline: none;
    border-color: #FF5959;
    color: #000;
}
.donate-form input[type="submit"]{
    cursor: pointer;
}